@import "../../../../styles/variables";

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border: 1px solid $red;

  .logo {
    display: flex;
    align-items: center;
    position: relative;

    .logo-img {
      position: absolute;
      left: 5px;
      width: 65px;
      height: 65px;
    }

    .logo-text {
      width: fit-content;
      height: fit-content;
      margin: 0;
      padding: 10px 10px 10px 80px;
      font-size: 1.7rem;
      text-transform: uppercase;
      color: $white;
      background-color: $gray;
    }
  }
}
