<div class="course-card">
  <div class="course-info-container">
    <div class="course-header-container">
      <h2 class="course-name">{{ course.title }}</h2>
      <p>{{ course.description }}</p>
    </div>
    <div class="course-description-container">
      <div class="description-item authors-list-container">
        <span class="text">Authors: </span>
        <span>{{ course.authors | stringJoiner }}</span>
      </div>
      <p class="description-item"><span class="text">Duration: </span>{{ course.duration | duration }}</p>
      <p class="description-item"><span class="text">Created: </span>{{ course.creationDate | creationDate }}</p>
      <ng-content></ng-content>
    </div>
  </div>
</div>
