@import "../../../../styles/variables";

.course-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .course {
    border: 1px solid $gray;
    margin: 10px 0;
    padding: 20px;
  }

  .buttons-container {
    display: flex;
    justify-content: end;
    flex: 1;
    align-items: end;

    .button {
      margin-left: 10px;
    }
  }
}

