<app-info
*ngIf="isCoursesListEmpty; else courseList"
  [title]="title"
  [text]="text"
>
  <app-button
    [buttonText]="addNewCourseText"
    (click)="addNewCourse()"
  >
  </app-button>
</app-info>

<app-modal-window
  *ngIf="isModalWindow"
  [modalTitle]="modalWindowTitle"
  [deletedCourseId]="deletedCourseId"
  [modalMessage]="modalWindowMessage"
  [okButtonText]="okButtonText"
  [cancelButtonText]="cancelButtonText"
  (clickModalButton)="onButtonClick($event)"
>
</app-modal-window>
<router-outlet></router-outlet>
<ng-template #courseList>
  <app-search
    [searchInputPlaceholder]="searchInputPlaceholder"
    (search)="searchCourse($event)"
  >
  </app-search>
  <app-course-list
    [courses]="courses"
    [isEditable]="isEditable"
    (clickButton)="onButtonClick($event)"
  >
  </app-course-list>
</ng-template>





