<h2>Login</h2>
<form
  class="input-container"
  #form="ngForm"
  (ngSubmit)="login(form)"
>
  <div class="email-container">
    <label class="label">Email</label>
    <input
      class="input-field"
      [class.invalid]="emailField.invalid && (emailField.touched || form.submitted)"
      type="text"
      name="mail"
      required
      appEmailValidator
      [(ngModel)]="mail"
      #emailField="ngModel"
    >
    <div
      class="invalid-message"
      *ngIf="emailField.invalid && (form.submitted || emailField.touched)"
    >
      <div *ngIf="emailField.errors?.required">
        Email is required.
      </div>
      <div *ngIf="emailField.errors?.emailvalidator">
        Email is not valid
      </div>
    </div>
  </div>
  <div class="password-container">
    <label class="label">Password</label>
    <input
      appTogglePassword
      class="input-field"
      [class.invalid]="passwordField.invalid && (passwordField.touched || form.submitted)"
      type="password"
      required
      name="password"
      [(ngModel)]="password"
      #passwordField="ngModel"
      #togglePassword="togglePassword"
      #passwordToggleField
    >
    <fa-icon
      class="icon"
      [icon]="passwordIcon"
      (click)="togglePassword.changeInputType()"
    >
    </fa-icon>
    <div
      class="invalid-message"
      *ngIf="passwordField.invalid && (form.submitted || passwordField.touched)"
    >
      Password is required.
    </div>
  </div>
  <div class="login-container">
    <app-button
      class="login-button"
      [buttonText]="loginButtonText"
      [buttonType]="buttonType"
    >
    </app-button>
    <div class="registration">
      <p class="registration-message">
        If you don't have an account you can
      </p>
      <a href="#"> Registration</a>
    </div>
  </div>
</form>


