<div class="footer-wrapper">
  <p class="copyright">&copy; Copyright </p>
  <div class="links">
    <a class="link" href="#"> Link 1</a>
    <a class="link" href="#"> Link 2</a>
    <a class="link" href="#"> Link 3</a>
  </div>
  <ul class="contact-icons">
    <li class="facebook button">
      <a class="link" href="#">facebook</a>
    </li>
    <li class="google button">
      <a class="link" href="#">google</a>
    </li>
    <li class="twitter button">
      <a class="link" href="#">twitter</a>
    </li>
    <li class="linkedin button">
      <a class="link" href="#">linkedin</a>
    </li>
  </ul>
</div>
